body {
    margin: 0;
}

.mainContainer {
    display: flex;
    flex-direction: column;
    padding: 50px;
    background-color: #21171c;
    font-family: Arial, Helvetica, sans-serif;
}

.topContainer {
    display: flex;
    flex-direction: column;
}

.navBar {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    background: white;
}

.navLogo {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.navLogo>img {
    width: 25%;
    height: auto;
}

.navLink {
    display: flex;
    flex-grow: 2;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.navLink>a {
    margin: 10px;
    padding: 10px;
    color: black;
    text-decoration: none;
    font-size: 20px;
}

.topContent {
    display: flex;
    height: 100%;
}

.topPhoto {
    background-image: url("../images/background.jpg");
    background-position: top;
    background-position: center;
    width: 100%;
    height: 500px;
    max-width: 750px;
    background-size: 780px;
}

.topText {
    font-size: 30px;
    color: white;
    width: 100%;
    background-color: #96281b;
}