$red: rgba(238, 99, 82, 1);
$green: rgba(89, 205, 144, 1);
$grey: rgba(47, 72, 88, 1);
$yellow: rgba(221, 161, 94, 1);
$blue: rgba(63, 167, 214, 1);
$white: rgba(255, 255, 255, 1);
$black: rgba(0, 0, 0, 1);
$defaultPadding: 15px;
$defaultMargin: 10px;
$defaultRadius: 5px;

@mixin colorLighten($c, $bc) {
    color: lighten($c, 10%);
    background-color: lighten($bc, 10%);
}

@mixin btnGen($txtColor, $bgColor) {
    text-decoration: none;
    border: none;
    padding: $defaultPadding / 2;
    margin: 5px 0px 5px 0px;
    height: 27px;
    color: $txtColor;
    background-color: $bgColor;
    &:hover {
        @include colorLighten($txtColor, $bgColor);
    }
}
