@import "rules";

body {
    margin: 0;
}

textarea {
    font-family: 'Roboto Condensed', sans-serif;
}

.mainContainer {
    display: flex;
    flex-direction: column;
    padding: 40px;
    background-color: $grey;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 20px;

    .topContainer {
        display: flex;
        flex-direction: column;

        .navBar {
            display: flex;
            align-items: center;
            justify-content: center;
            background: $white;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;

            .navLogo {
                display: flex;
                flex-grow: 1;
                justify-content: center;
                align-items: center;
                width: 100%;

                img {
                    min-width: 120px;
                    width: 25%;
                    height: auto;
                }
            }

            .navLink {
                display: flex;
                flex-grow: 2;
                justify-content: space-evenly;
                align-items: center;
                width: 100%;

                a {
                    margin: 10px;
                    padding: 10px;
                    color: $black;
                    text-decoration: none;
                    font-size: 1em;
                    transition: all 0.2s;

                    &:hover {
                        color: $yellow;
                    }
                }
            }
        }

        .topContent {
            display: flex;

            .topPhoto {
                background-image: url("../images/background.jpg");
                background-position: top;
                background-position: center;
                width: 100%;
                height: 500px;
                background-size: cover;
                position: relative;
                box-shadow: inset 0px 0px 100px $black;

                .socialTray {
                    display: flex;
                    font-size: 1.5em;
                    width: 100%;
                    justify-content: flex-end;
                    align-content: flex-end;
                    position: absolute;
                    bottom: 0;

                    i {
                        padding: 10px;
                        font-size: 1.5em;
                        color: rgba(255, 255, 255, 0.8);

                        &:nth-of-type(1) {
                            padding-right: 5px;
                        }

                        &:nth-of-type(2) {
                            padding-left: 5px;
                        }
                        &:hover {
                            color: rgba(255, 255, 255, 1);
                            cursor: pointer;
                        }
                    }
                }
            }

            .topText {
                display: flex;
                font-size: 2em;
                color: $white;
                width: 100%;
                height: 100%;
                justify-content: center;
                align-items: center;
                position: absolute;

                span {
                    margin: 20px;
                    text-shadow: 0px 0px 8px $black;
                }
            }
        }
    }

    .bottomContainer {
        display: flex;
        flex-direction: column;
        background-color: $white;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;

        div {
            display: flex;
            margin-top: 5px;
            margin-bottom: 5px;

            div {
                display: flex;
                justify-content: center;
                padding: 10px;
                font-size: 1em;
                width: 100%;
            }

            #quote {
                background-color: $green;
                color: $white;
            }
        }
    }

    .footerContainer {
        display: flex;

        form {
            width: 100%;
            margin: 15px;
            color: $white;
            display: flex;
            flex-direction: column;
            font-size: 1em;

            input {
                margin-top: 5px;
                margin-bottom: 5px;
                border: none;
                height: 25px;
            }

            select {
                margin-top: 5px;
                margin-bottom: 5px;
                border: none;
                height: 25px;
            }

            textarea {
                margin-top: 5px;
                margin-bottom: 5px;
                border: none;
            }
        }

        .subBtn {
            width: 50%;
            @include btnGen($white, $red);
        }

        .infoBtn {
            width: 100%;
            @include btnGen($white, $blue);
        }

        .faqMargin {
            margin-top: 5px;
        }

        #joinForm {
            display: none;
        }

        #joinBtnPad {
            width: 100%;
            margin: 15px;
            color: $white;
            display: flex;
            flex-direction: column;
            font-size: 1em;
        }
    }
}

.bottomContainerContact {
    display: flex;
    flex-direction: column;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;

    #locationCardTray {
        display: flex;
        width: 100%;
        margin: 0px;
        overflow: visible;

        div {
            display: flex;
            flex-direction: column;
            background-color: $white;
            padding: 20px;
            margin: 20px 10px;
            border-radius: 5px;
            font-size: 1em;
            color: $black;
            transition: all 0.1s;
            box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);

            .cardTitle {
                font-size: 1.2em;
            }

            span {
                margin-top: 5px;
                margin-bottom: 5px;
            }

            &:hover {
                box-shadow: 0px 0px 20px $black;
                cursor: pointer;
                transform: scale(1.02);
            }
            &:active {
                transform: scale(1);
            }
        }
    }
}

@media only screen and (max-width: 600px) {
    .bottomContainer {
        div {
            flex-wrap: wrap;
        }
    }

    .footerContainer {
        flex-wrap: wrap;
    }

    .navBar {
        flex-wrap: wrap;
    }

    #joinForm {
        margin-top: 0;
    }

    #joinBtnPad {
        margin-top: 0;
    }
}

@media only screen and (max-width: 1200px) {
    .bottomContainerContact {
        #locationCardTray {
            display: inline;
        }
    }
}